/*Thomas Lewis, Baker's Ear Group
CS4800 - El Nene's Wonder Cookies
*/
div {

	font-family: 'Luckiest Guy', cursive;
	padding-bottom: 15px;
}

h4 {
	color: white;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

h6 {
	color: white;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

form {
	font-family: 'Luckiest Guy', cursive;
	padding-left: 15px
}

html {
	font-family: 'Luckiest Guy', cursive;
}

img:not(.logo){
display:flex;
justify-content: center;
text-align: center;

}

.add-cart {
	box-shadow: 0px 0px 0px 3px #9fb4f2;
	border-radius:42px;
	border:7px solid #c48daa;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	padding:4px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.add-cart:hover {
	background-color:#e9ff91;
}
.add-cart:active {
	position:relative;
	top:1px;
}
/*test*/

#navbar {
  overflow: hidden;
  background-color: #fc7777;
  padding: 20px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
	left: 0;
  z-index: 99;
}

#navbar a {
  float: left;
  color: white;
  text-align: right;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
  padding: 25px;
  text-decoration: none;
  font-size: 36px;
  line-height: 25px;
  border-radius: 4px;
}

#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

#navbar a:hover {
  background-color: #ddd;
  color: pink;
}

#navbar a.active {
  background-color: dodgerblue;
  color: white;
}

#navbar-right {
  float: right;
}

@media screen and (max-width: 150px) {
  #navbar {
    padding: 20px 10px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}

/*testing2*/
.card {
	color:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: #ffffe8;
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
	font-size: 20px;
  float: center;
  padding: 10px;
	display: block;
	margin-bottom: 20px;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;

}

.formBtn {
	box-shadow:inset 0px 1px 0px 0px #3dc21b;
	background:linear-gradient(to bottom, #66ff8f 5%, #5cbf2a 100%);
	background-color:#66ff8f;
	border-radius:15px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.formBtn:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #66ff8f 100%);
	background-color:#5cbf2a;
}
.formBtn:active {
	position:relative;
	top:1px;
}


/*card testing for order*/
.column {
  float: left;
  width: 33%;
  /*padding: 0 10px;*/
}

.column-about {
	float: center;
	width: 100%
}

.card-about {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: #ffffe8;
  margin: auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;	font-size: 20px;
  float: center;
  padding: 10px;
	display: block;
	margin-bottom: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
/*shoppingcart test*/

.products{
	color: white;
	font-size: 29px;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.products-container ion-icon {
	color: red;
}

.emptyCart {
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.emptyCart:hover {
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color:#ce0100;
}
.emptyCart:active {
	position:relative;
	top:1px;
}

